.box {
  background-color: lightseagreen;
  height: 100px;
  width: 100px;
  border: 1px solid purple;
  margin: 10px auto;
  padding: 10px;
  line-height: 78px;
  text-align: center;
  box-sizing: border-box;
  /* max-width: auto;
  min-width: 100px; */
}

.card {
  width: 200px;
  height: 300px;
  margin: 10px auto;
  border: 1px solid purple;
  padding: 10px;
  border-radius: 30px;
}

.cyan-bg {
  background-color: cyan;
}

.salmon-bg {
  background-color: salmon;
}

.lightgreen-bg {
  background-color: lightgreen;
}
